.cont-topicos {
    margin-top: 64px;
}
.tit-topicos {
    font-size: 48px;
    margin-left: 200px;
    font-family: "IBM plex sans", monospace;
    margin-bottom: 56px;
    font-weight: 400;
  }

  .ico-topicos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 100px;
    padding-right: 100px;
  }

  .ico-topicos .ico-box {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 25%;
    margin-bottom: 30px;
  }

  .ico-topicos .ico-box img {
    width: 104px;
    padding: 13px 0;
    margin-left: auto;
    margin-right: auto;
  }

  .ico-topicos .ico-box h4 {
    text-align: center;
    font-family: "IBM plex sans", sans-serif;
    font-size: 24px;
    margin-top: 16px;
    font-weight: 600;
  }

  @media screen and (max-width: 900px) {
    .ico-topicos {
      padding-left: 20px;
      padding-right: 20px;
    }

    .ico-topicos .ico-box {
      width: 50%;
    }

    .tit-topicos {
      margin-left: 20px;
      margin-right: 20px;
      font-size: 36px;
    }
  }

  @media screen and (max-width: 650px) {
    .ico-topicos .ico-box {
      width: 100%;
    }

    .tit-topicos {
      font-size: 36px;
    }
  }